<footer class="footer-distributed">

    <div class="footer-left">
        <div class='lineUp'>
        <h3>CaSuper<span>Nova</span></h3>
        </div>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>

            <a href="#">Products</a>

            <a href="#">Pricing</a>

            <a href="#">Resources</a>

            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Company Name © 2015</p>
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
    </div>

    <div class="footer-center">

        <div>
            <a href="#"><i class="fa-solid fa-location-dot text-light"></i></a>
            <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1.555.555.5555</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com" class="btnemail">support@company.com</a></p>
        </div>
    </div>

    <div class="footer3">
        <button class="btn btncall">Schcedule a call with our team <span style='font-size:20px;'>&#8594;</span></button>
    </div>
        <hr class="new3">
    <div class="footer-bottom"><h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam consequatur voluptates ab deserunt, aliquid libero fuga veniam cumque eius et tenetur optio, delectus fugiat? At odio blanditiis voluptas quo explicabo.</h6></div>
    <div class="footer-bottom2">
        <h6>Terms & Condition&nbsp;&nbsp; Privacy Policy</h6>
    </div>
</footer>