@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer-distributed{
  bottom:0;
  position:relative;
	background: #f3fcff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right,
.footer-distributed .footer3{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #FF5774;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

.footer-distributed .footer-links{
	color:  #000;
	margin: 20px 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;	
}

.footer-distributed .footer-center{
	width: 23%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #000;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p:hover {
  color: #FF5774;
  cursor: pointer;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #FF5774;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #000;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-links a:hover {
  color:#FF5774;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-company-about{
	line-height: 20px;
	color:  #e3ffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 10px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 10px;
	margin-bottom: 5px;
  justify-content: space-between;
}

.footer-distributed .footer-icons a:hover {
    background-color: #FF5774;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer3{
  margin-left: 50px;
	width: 20%;
}

.btncall {
    border-radius: 50px;
    text-align: center;
    padding: 10px 40px;
    background-color:  #fc326c;
    color: #fff;
    font-size: bold;
    outline: none;
    width: 350px;
}
.btncall:hover {
    box-shadow: 5px 10px 18px #888888;
    transform: scale(1.1);
    transition: 500ms ease all;
}
  
.lineUp:hover {
    animation: 2s anim-lineUp ease-out infinite;
    cursor: pointer;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.flipY {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}
@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  @keyframes depth {
    0% {
      text-shadow: 0 0 black;
    }
    25% {
      text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
    }
    50% {
      text-shadow: 0 0 black;
    }
    75% {
      text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
        -5px 0 black;
    }
    100% {
      text-shadow: 0 0 black;
    }
}
  hr.new3 {
    border: none;
    background-color: lightseagreen;
    height: 3px;
}

  .footer-bottom h6 {
      color:#000;
      font-weight:400;
}

.footer-bottom {
    display: inline-block;
    width: 50%;
}

.footer-bottom2 {
    display: inline-block;
    width: 50%;
    margin-top: 0;
    float:right;
    text-align: right;
    color: #000;
}
  