<section class="home" style="background-color: #f3fcff;" id="Home">
    <div class="container">
        <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 pr-md-5">
                <div class="div1 mt-5"><div class="badge">1</div><h5 class="mt-1 txt" style="font-size:18px">Design insurance plan.</h5></div>
                <div class="div2 mt-4"><div class="badge">2</div><h5 class="mt-1 txt" style="font-size:18px">Get pricing directly from insurer.</h5></div>
                <div class="div1 mt-4"><div class="badge">3</div><h5 class="mt-1 txt" style="font-size:18px">Add benefits programs on top.</h5></div>
                <div class="div2 mt-4 mb-5"><div class="badge">4</div><h5 class="mt-1 txt" style="font-size:18px">Share it with your employees.</h5></div>
            </div>
            <div class="col-md-6 pl-md-5">
                <div style="text-align:left">
                    <p class="text">How it Works</p>
                    <p class="paragraph">Design and setup benefits at ease - minimal effort required</p>
                </div>
            </div>
        </div>
        <div class="container arr">
            <i id="downarr" class="arrow down mb-1">Get Started</i>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


