<section class="service section-bg">
    <div class="section2 pt-5">
        <div class="container">
            <div class="section-title text-center">
                <h2>Conmprehensive <span style="color:#FF5774">health insurance</span> for your team.</h2>
                <p>Give your employees’ the insurance plan they want. Pazcare ensures a seamless experience while they
                    exercise their insurance claims.</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-cannabis" style="color:#ff689b"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Lorem Ipsum</a>
                        </h4>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cupiditate ea minus id
                            accusamus.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fa-brands fa-envira" style="color:lightseagreen"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Lorem Ipsum</a>
                        </h4>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cupiditate ea minus id
                            accusamus.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fa-solid fa-feather-pointed" style="color:#caff68"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Lorem Ipsum</a>
                        </h4>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cupiditate ea minus id
                            accusamus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>