<section class="home" style="background-color: #f3fcff;" id="Home">
    <div class="container">
        <div class="row min-vh-100 align-items-center text-center text-md-left">
            <div class="col-md-6 pr-md-5 content">
                <h2><span>Take care of your team.</span></h2>
                <p>Employee healthcare benefits, built for the modern Indian workforce.</p>
                <a href="#" class="btn btnstr">Get started<span style='font-size:20px;'>&#8594;</span></a>
                <a href="#" class="btn btnwork">See it how it works <span style='font-size:20px;'>&#8594;</span></a>
            </div>
            <div class="col-md-6 pl-md-5">
                <img>
            </div>
        </div>
        <div class="container arr">
            <i id="downarr" class="arrow down mb-1"></i>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

